doctype html
html(lang='en')
	head
		title Direct Access - View School Report
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		include menu
		h2 View Report
		table
			tr
				th= "Project Name"
				th= "Building Name"
				th= "Location"
				th= "Surveyors"
				th= "Date"
				th= "Accessibility Rating"
				
			for report in reportsList
				tr
					td= report.project
					td= report.building
					td= report.location
					td= report.surveyors
					td= report.date
					td= "9.3/10"
						img(src="/images/star.png" style='height:20px;width:20px')
		
		h2 School Report
		table
			tr
				th= "Total number of parking spaces:"
				th= "Total number of handicapped parking spaces:"
				th(style='height:300px;width:200px')= "Handipcap Parking"
				th= "If so, is there wheelchair space integrated into the seating?"
				
			for schoolreport in schoolReportsList
				tr
					td= schoolreport.num_parking
					td= schoolreport.num_handi_parking
					td(style='display:grid')
						canvas#handi_img(style='grid-column:1;grid-row:1;z-index:3')
						img(src="/images/"+schoolreport.handi_park_image style='grid-column:1;grid-row:1;z-index:2')
					td= schoolreport.if_wheelchair
		script.
			var c = document.getElementById("handi_img");
			var ctx = c.getContext("2d");
			ctx.lineWidth = "2";
			ctx.strokeStyle = "red";
			ctx.rect(#{handicapImgInfo.top}, #{handicapImgInfo.left}, #{handicapImgInfo.width}, #{handicapImgInfo.height});
			ctx.stroke();
